[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/eclipse/eclipse
Name=Eclipse
Info=Eclipse IDE
Icon=eclipse.png
Categories=Application;Development;
