[Desktop Entry]
Name=Desktop Sharing
Comment=GNOME Desktop Sharing Server
Keywords=vnc;share;remote;
Exec=/usr/lib/vino-server
Icon=
NoDisplay=true
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-Autostart-enabled=false
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
X-MATE-Autostart-enabled=false
X-MATE-AutoRestart=true
X-MATE-Autostart-Phase=Desktop
X-MATE-Autostart-Notify=true
