[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Screensaver
Exec=/usr/bin/xscreensaver -nosplash
NoDisplay=true
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
