/archives
/i386
/sparc

/components/mapping.json
/components/dependencies.json

components/components.mk
components/encumbered/components.mk
components/**/build
!components/python/build

tools/**/*.pyc
tools/**/__pycache__
tools/pkglint
tools/time-*o

.vagrant
