name "userland"
version "0.5.11"
branch "2025.0.0"
publisher "openindiana.org"

metadata-transform matcher="--libexecdir" replacement="--libexecdir=${LIBEXECDIR}"
metadata-transform matcher="--bindir" replacement="--bindir=${BINDIR}"
metadata-transform matcher="--sbindir" replacement="--sbindir=${SBINDIR}"
metadata-transform matcher="--mandir" replacement="--mandir=${MANDIR}"
metadata-transform matcher="--libdir" replacement="--libdir=${LIBDIR}"
metadata-transform matcher="--with-jobs" drop=true
metadata-transform matcher="CC" drop=true
metadata-transform matcher="CXX" drop=true
metadata-transform matcher="F77" drop=true
metadata-transform matcher="FC" drop=true
metadata-transform matcher="FFLAGS" drop=true
metadata-transform matcher="CFLAGS" drop=true
metadata-transform matcher="LDFLAGS" drop=true
metadata-transform matcher="PKG_CONFIG_PATH" drop=true