[Desktop Entry]
Name=Apache Web Server
Comment=Share files using the Apache HTTP Server
Exec=/usr/bin/vp apache
Icon=/usr/share/vpanels/pixmaps/apache.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true
Encoding=UTF-8
