[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail/Calendar
Name[cz]=Thunderbird - Pošta/Kalendář 
Name[de]= Thunderbird - E-Mail/Kalender
Name[es]=Correo y Agenda de Thunderbird 
Name[fr]=Messagerie/Calendrier Thunderbird
Name[it]=Posta e gruppi di discussione Thunderbird
Name[ja]=Thunderbird メール/カレンダー
Name[ko]=Thunderbird 메일/캘린더 
Name[pl]=Thunderbird Poczta/Kalendarz
Name[pt_BR]=Correio/Agenda Thunderbird
Name[ru]=Thunderbird Почта/Календарь
Name[sv]=Thunderbird Post/Kalender 
Name[zh_CN]=Thunderbird 邮件/日历 
Name[zh_TW]=Thunderbird 郵件/行事曆 
GenericName=Email
Comment=Read email, blogs and usenet newsgroups and calendar
Comment[cz]=Čtení pošty, blogů, diskuzních skupin a kalendáře
Comment[de]=Lesen von E-Mails, Blogs, Newsgroup und Kalender
Comment[es]=Consultar correo electrónico, blogs, grupos de noticias Usenet y la agenda
Comment[fr]=Consulter les e-mails, blogs, forums de discussion Usenet et le calendrier
Comment[it]=Consulta posta elettronica, blog, gruppi di discussione e agenda 
Comment[ja]=電子メール、ブログ、usenet ニュースグループ、カレンダを見る
Comment[ko]=전자 메일, 블로그, 유즈넷 뉴스그룹 및 캘린더 읽기 
Comment[pl]=Czytanie wiadomości, blogów, grup dyskusyjnych oraz kalendarza 
Comment[pt_BR]=Ver e-mails, blogs, fóruns de discussão da Usenet e agenda 
Comment[ru]=Чтение почты, просмотр блогов, новостных групп usenet и календаря
Comment[sv]=Läs e-post, bloggar, usenet-diskussionsgrupper och kalender
Comment[zh_CN]=阅读电子邮件、博客、usenet 新闻组，查阅日历
Comment[zh_TW]=讀取電子郵件、部落格、Usenet 新聞群組以及行事曆
TryExec=/usr/bin/thunderbird
Exec=/usr/bin/thunderbird
Icon=thunderbird-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;X-Sun-Quick-Start;
