[Desktop Entry]
Encoding=UTF-8
Name=xterm
Comment=Failsafe session with only xterm
X-GDM-BypassXsession=true
Exec=/usr/bin/xterm
TryExec=/usr/bin/xterm
Icon=
Type=Application
