/* CSS Document */
HTML,BODY,P,TD,H1,H2,H3,H4,OL,UL,DL,LI,DT,DD {font-family:arial,helvetica,sans-serif;}
HTML,BODY,P,TD,CODE,KBD,TT,OL,UL,DL,LI,DT,DD {font-size:12px;}
CODE,KBD,TT {font-family:courier,"courier new",monaco;color:#666;}
html, body {padding:0;margin:0;}
a:link {color:#000;text-decoration:none;}
a:visited {color:#000;text-decoration:none;}
a:hover {color:#FF0000;text-decoration:underline;}
body{padding:10px;margin:0;font-family:arial,helvetica,sans-serif;font-size:11px;color:#000;}
.header{display:block; width:100%; padding:2px 0px 5px 0px; margin:0px 0px 10px 0px;}
.logo{width:150px; float:right; padding:21px 0px 0px 12px;}

.outer_wrapper{width:974px; margin:auto;}
.logo_wrapper{DISPLAY: block; MARGIN-BOTTOM: 6px; float:left; WIDTH: 974px; HEIGHT: 40px;}

.greyBarBottom{background: #DCDCDC;height: 7px; width:100%; margin-bottom:12px;}
.footer{ margin-top:5px; float:right; margin-bottom:40px; width:100%; }
.infoCompany{float:left; padding:0px 0px 0px 12px;}
.footerContent{float:right; font-size:12px; padding:0px 10px 0px 0px; text-align:right;}

a.fulllink:link {color:#000;text-decoration:underline;}
a.fulllink:visited {color:#000;text-decoration:underline;}
a.fulllink:hover {color:#FF0000;text-decoration:underline;}
.legalese {font-size:10px;font-family:arial,helvetica,sans-serif;}
a.legalese:link {color:#000;text-decoration:none;}
a.legalese:visited {color:#000;text-decoration:none;}
a.legalese:hover {color:#FF0000;text-decoration:underline;}
.profile{font-family:arial,elvetica,sans-serif;font-size:10px;color:#000;text-decoration:none;}
.profile a:link{font-family:arial,helvetica,sans-serif;font-size:10px;color:#000;text-decoration:none;}
.profile a:visited{font-family:arial,helvetica,sans-serif;font-size:10px;color:#000;text-decoration:none;}
.profile a:hover{font-family:arial,helvetica,sans-serif;font-size:10px;color:#ff0000;text-decoration:underline;}

OL,DL {margin-bottom:1px;}
OL,DL,DT,DD {line-height:14px;}
DD {margin-bottom:.5em;}

