[Desktop Entry]
Name=GNOME Connection Manager
Comment=GCM - an Advanced SSH connections manager for X/Windows
Exec=gcm
Icon=gcm
Terminal=false
Type=Application
Categories=System;
