[Desktop Entry]
Encoding=UTF-8
Name=Display Switch Daemon
Comment=Handles switching of displays devices
Icon=display
Exec=/usr/bin/dispswitch
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=true
