/* default color scheme */
@define-color bg_color #e8e9ed;
@define-color fg_color #3c3c3c;
@define-color base_color #f7f7f7;
@define-color text_color #090909;
@define-color selected_bg_color #39698a;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #ffffcc;
@define-color tooltip_fg_color #000000;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

@define-color placeholder_text_color shade(@text_color, 3.5);
@define-color menu_bg_color shade (@theme_bg_color, 1.1);
@define-color menu_fg_color @theme_fg_color;

@define-color menu_controls_color shade (@theme_fg_color, 0.9);

@define-color menu_combobox_border @theme_selected_bg_color;
@define-color menu_separator shade (@menu_bg_color, 0.96);

/* shadow effects */
@define-color light_shadow #fff;
@define-color dark_shadow #000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb(80, 80, 80);
@define-color info_bg_color #e2e2e2;
@define-color warning_fg_color rgb(255, 255, 255);
@define-color warning_bg_color rgb(255, 150, 80);
@define-color question_fg_color rgb(80, 80, 80);
@define-color question_bg_color rgb(150, 180, 230);
@define-color error_fg_color rgb(255, 255, 255);
@define-color error_bg_color rgb(200, 70, 50);
@define-color link_color #2c82dd;
@define-color success_color #4e9a06;
@define-color error_color #cc0000;
@define-color dark_bg_color #CECECE;
@define-color notebook_border #78797b;
@define-color notebook_active_tab_border #1372d3;
@define-color notebook_selected_tab_color #8dc0f3;

/* osd */
@define-color osd_base #333;
@define-color osd_fg #eee;
@define-color osd_bg alpha(@osd_base, 0.8);

/* window manager colors */
@define-color wm_bg @theme_bg_color;
@define-color wm_title_focused shade(@theme_fg_color, 1.2);
@define-color wm_title_unfocused shade(@theme_fg_color, 2.0);
@define-color wm_border_focused shade(@theme_bg_color, 0.7);
@define-color wm_border_unfocused shade(@theme_bg_color, 0.8);

/* lightdm greeter color scheme */
@define-color lightdm_bg_color #242424;
@define-color lightdm_fg_color #efefef;

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
@import url("apps/lightdm-unity-greeter.css");
@import url("apps/lightdm-gtk-greeter.css");
