[Desktop Entry]
# To be installed as `~/.config/autostart/ssh-add.desktop` for MATE
# to auto-request the SSH key passphrase during session start-up
Type=Application
Exec=/usr/bin/ssh-add
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Ask for SSH private key
Name=Ask for SSH private key
Comment[en_US]=
Comment=
