[Desktop Entry]
Encoding=UTF-8
Name=LibreWolf Web Browser
Name[cs]=LibreWolf WWW prohlížeč
Name[cz]=LibreWolf WWW prohlížeč
Name[de]=LibreWolf Webbrowser
Name[es]=LibreWolf Navegador web
Name[fr]=LibreWolf Navigateur Web
Name[hu]=LibreWolf Internet böngésző
Name[it]=LibreWolf Browser Web
Name[ja]=LibreWolf Web ブラウザ
Name[ko]=LibreWolf 웹 브라우저
Name[pl]=LibreWolf Przeglądarka sieci Web
Name[pt_BR]=LibreWolf Navegador da Web
Name[ru]=LibreWolf Веб-браузер
Name[sv]=LibreWolf Webbläsare
Name[zh_CN]=LibreWolf Web 浏览器
Name[zh_HK]=LibreWolf 網路瀏覽器
Name[zh_TW]=LibreWolf 網路瀏覽器
GenericName=Web Browser
Comment=Browse the worldwide web 
Comment[cs]=Prohlížení Internetu
Comment[cz]=Prohlížení Internetu
Comment[de]=Browsen im Internet
Comment[es]=Examinar Internet
Comment[fr]=Parcourir Internet
Comment[hu]=Az internet böngészése
Comment[it]=Naviga in Internet
Comment[ja]=インターネットのブラウズ
Comment[ko]=인터넷 검색
Comment[pl]=Przeglądaj Internet
Comment[pt_BR]=Navega pela Internet
Comment[ru]=Работать в интернете
Comment[sv]=Surfa på Internet
Comment[zh_CN]=浏览互联网
Comment[zh_HK]=瀏覽網際網路
Comment[zh_TW]=瀏覽網際網路
Exec=/usr/bin/librewolf %u
TryExec=/usr/bin/librewolf
Icon=librewolf-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;X-Sun-Quick-Start;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
