[Desktop Entry]
Encoding=UTF-8
Name=NmapFE (as root)
GenericName=GUI Network Security Scanner
GenericName[de]=Sicherheits-Scanner
GenericName[es]=Escáner de seguridad
GenericName[fr]=Scanner de sécurité
GenericName[it]=Scansione di protezione
GenericName[ja]=セキュリティースキャナ
GenericName[ko]=보안 스캐너
GenericName[pt_BR]=Escâner de segurança
GenericName[zh_CN]=安全扫描程序
GenericName[zh_HK]=安全性掃描器
GenericName[zh_TW]=安全性掃描器
Comment=A cross-platform GUI for the Nmap Security Scanner: Scan and monitor services provided by other computers on the network (as root)
Comment[de]=Von anderen Computern im Netzwerk bereitgestellte Dienste suchen und überwachen
Comment[es]=Explorar y monitorizar los servicios que proporcionen otros equipos de la red
Comment[fr]=Examiner et contrôler les services fournis par d'autres ordinateurs sur le réseau
Comment[it]=Servizi di scansione e monitoraggio forniti da altri computer della rete
Comment[ja]=ネットワーク上のほかのコンピュータが提供するサービスをスキャンおよび監視します
Comment[ko]=네트워크의 다른 컴퓨터에서 제공하는 검색 및 모니터 서비스
Comment[pt_BR]=Explorar e monitorar os serviços fornecidos por outros computadores da rede
Comment[zh_CN]=扫描和监视网络上其他计算机提供的服务
Comment[zh_HK]=掃描和監視網路上其他電腦提供的服務
Comment[zh_TW]=掃描和監視網路上其他電腦提供的服務
Version=7.12
TryExec=/usr/share/zenmap/su-to-zenmap.sh
Exec=/usr/share/zenmap/su-to-zenmap.sh %F
Icon=/usr/share/zenmap/pixmaps/zenmap.png
Terminal=false
Type=Application
Categories=Network
#;System;Security;Application;GTK

