[Desktop Entry]
Encoding=UTF-8
Name=Squeak Initial Image
Comment=Download Squeak Image To Home Directory
Exec=/usr/bin/inisqueak
Icon=squeak
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Development
