[Desktop Entry]
Encoding=UTF-8
Name=Squeak
Comment=Smalltalk Programming System
Exec=/usr/bin/squeak
Icon=squeak
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Development
