device          /var/spool/hylafax/dev/ttyIAX0
owner           uucp:uucp
mode            660
port            4570
refresh         60
server          127.0.0.1
peername        IAXmodem0
secret          blabla
cidname         <your name>
cidnumber       <your fax number international format i.e. +123456789>
codec           alaw
record          yes

