[Desktop Entry]
Name=OpenIndiana Docs
Comment=OpenIndiana Docs, online documentation
Exec=xdg-open /usr/share/doc/openindiana-docs/index.html
Icon=applications-system
Terminal=false
Type=Application
Categories=GTK;Core;Documentation;Utility;
StartupNotify=true
NoDisplay=false
