[Desktop Entry]
Name=Netbeans IDE
Comment=Netbeans IDE 8.2.0 for multi-platform development
Exec=/usr/bin/netbeans
Icon=/usr/share/netbeans/nb/netbeans.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
