[Desktop Entry]
Name=User Manager
Comment=Manage users on this computer
Exec=/usr/bin/vp usermgr
Icon=/usr/share/vpanels/pixmaps/usermgr.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true
Encoding=UTF-8
