[Desktop Entry]
Encoding=UTF-8
Name=NmapFE
GenericName=Security Scanner
Comment=Scan and monitor services provided by other computers on the network
Version=1.0
TryExec=nmapfe
Exec=nmapfe
Icon=nmapfe.png
Terminal=false
Type=Application
Categories=Application;System;Security;GTK
