[Desktop Entry]
Name=Time/Date
Comment=Set time/date
Exec=/usr/bin/vp time
Icon=/usr/share/vpanels/pixmaps/time.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true
Encoding=UTF-8
