[Desktop Entry]
Name=Core Files
Comment=Configure where core files are stored
Exec=/usr/bin/vp coreadm
Icon=/usr/share/vpanels/pixmaps/coreadm.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true
Encoding=UTF-8
