[Desktop Entry]
Encoding=UTF-8
Name=notion-3
Comment=This session logs you into Notion 3
Exec=/usr/bin/notion
TryExec=/usr/bin/notion
Icon=
Type=Application
