[Desktop Entry]
Name=System Monitor
Comment=Monitor the System
Exec=/usr/bin/vp sysmon
Icon=/usr/share/vpanels/pixmaps/sysmon.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true
Encoding=UTF-8
