[Desktop Entry]
Encoding=UTF-8
# SUN_BRANDING Translators, please refer http://diveintopython.org/
Name=Dive Into Python Book
Name[de]=Python-Buch lesen
Name[es]=Leer el libro de Python
Name[fr]=Plongez-vous dans le manuel Python
Name[it]=Libro Dive Into Python
Name[ja]=Python の本へのいざない
Name[ko]=Dive Into Python 설명서
Name[pt_BR]=Livro Mergulhando no Python
Name[zh_CN]=《深入 Python (Dive Into Python)》书籍
Name[zh_HK]=「Dive Into Python」書籍
Name[zh_TW]=「Dive Into Python」書籍
# SUN_BRANDING
Comment=Book for Python Programmers
Comment[de]=Buch für Python-Programmierer
Comment[es]=Libro para programadores de Python.
Comment[fr]=Manuel destiné aux programmeurs Python
Comment[it]=Libro per programmatori Python
Comment[ja]=Python プログラマ向けの本
Comment[ko]=Python 프로그래머를 위한 설명서
Comment[pt_BR]=Livro para programadores Python
Comment[zh_CN]=用于 Python 编程人员的书籍
Comment[zh_HK]=適用於 Python 程式設計者的書籍
Comment[zh_TW]=適用於 Python 程式設計者的書籍
Terminal=false
Type=Application
Exec=gnome-open file:///usr/share/doc/diveintopython/html/index.html
Icon=gnome-devel
StartupNotify=true
Categories=Development;
