[Desktop Entry]
Name=System Firewall
Comment=Configure which system services are accessible from the network
Exec=/usr/bin/vp firewall
Icon=/usr/share/vpanels/pixmaps/firewall.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true
Encoding=UTF-8
