!
! Zebra configuration saved from vty
!
# Specify the hostname of the server
hostname Servername 
!
# Specify the password for the vty interface. This will be your telnet login
# password 
password zebra
!
# Specify the log file name
log file /var/tmp/ospf.log
!
service advanced-vty
!
router ospf
!
# Specify the router-id to your machine's primary interface IP address
ospf router-id a.b.c.d 
!
redistribute connected
!
# Specify the OSPF enabled interface(s).Enter a network entry per OSPF
# enabled interface If the interface has an address
# of 10.0.0.1/8 then the command below provides network information
# to the ospf routers  :
#                network 10.0.0.0/8 area 0
# the network command's mask length should be the same as the interface
# address's mask. All the network entries must have the same area number
network a.b.c.d/m area  <0-4294967295>
!
line vty
 exec-timeout 0 0
!
