[Desktop Entry]
Encoding=UTF-8
Name=Device Driver Utility
Name[fr]=Utilitaire des pilotes de périphérique
Name[it]=Utility driver
Name[de]=Gerätetreiber-Dienstprogramm
Name[es]=Utilidad de controlador de dispositivos
Name[ru]=Служебная программа драйверов устройств
Name[pt_BR]=Utilitário de Drivers de Dispositivo
Name[zh_CN]=设备驱动实用程序
Name[zh_TW]=裝置驅動公用程式
Name[ko]=장치 드라이버 유틸리티
Name[ja]=デバイスドライバユーティリティー
Comment=Scan your system for supported device drivers
Comment[fr]=Balayez le système pour y rechercher les pilotes de périphériques pris en charge
Comment[it]=Esegui scansione sistema alla ricerca dei driver di periferica supportati 
Comment[de]=Durchsuchen Sie Ihr System nach unterstützten Gerätetreibern
Comment[es]=Explore el sistema para detectar controladores de dispositivos compatibles
Comment[ru]=Проверьте систему на наличие поддерживаемых драйверов устройств
Comment[pt_BR]=Procure os drivers de dispositivo suportados no seu sistema
Comment[zh_CN]=扫描您的系统以查看支持的设备驱动程序
Comment[zh_TW]=掃描系統以查看支援的裝置驅動程式
Comment[ko]=지원되는 장치 드라이버에 대해 시스템을 스캔합니다.
Comment[ja]=サポートされているデバイスドライバについてシステムを走査します
Exec=/usr/ddu/ddu.py
Icon=ddu.png
Terminal=false
Type=Application
Categories=GTK;GNOME;System;
StartupNotify=true
