[Desktop Entry]
Name=GKrellM System Monitor
Comment=Monitor for CPU, memory, disks, network, mail
Exec=gkrellm
Icon=gkrellm
Terminal=false
Type=Application
Categories=System;
