[Desktop Entry]
Name=Help
Name[af]=Hulp
Name[am]=መረጃ
Name[an]=Aduya
Name[ar]=مساعدة
Name[as]=সহায়
Name[ast]=Ayuda
Name[az]=Yardım
Name[be]=Дапамога
Name[be@latin]=Dapamoha
Name[bg]=Потребителско ръководство
Name[bn]=সহায়তা
Name[bn_IN]=সাহায্য
Name[br]=Skoazell
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[ca@valencia]=Ajuda
Name[crh]=Yardım
Name[cs]=Nápověda
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[dz]=གྲོགས་རམ།
Name[el]=Βοήθεια
Name[en_CA]=Help
Name[en_GB]=Help
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[fur]=Jutori
Name[ga]=Cabhair
Name[gd]=Cobhair
Name[gl]=Axuda
Name[gu]=મદદ
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Pomoć
Name[hu]=Súgó
Name[id]=Bantuan
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ka]=დახმარება
Name[kk]=Көмек
Name[km]=ជំនួយ
Name[kn]=ಸಹಾಯ
Name[ko]=도움말
Name[ks]=मदद
Name[ku]=Alîkarî
Name[ky]=Жардам
Name[la]=Auxilium: Help Contents=Adiuvantes Res
Name[li]=Hulp
Name[lt]=Žinynas
Name[lv]=Palīdzība
Name[mai]=मद्दति 
Name[mg]=Toro-làlana
Name[mk]=Помош
Name[ml]=സഹായം
Name[mn]=Тусламж
Name[mr]=मदत
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[nds]=Hulp
Name[ne]=मद्दत
Name[nl]=Hulp
Name[nn]=Hjelp
Name[nso]=Thušo
Name[oc]=Ajuda
Name[or]=ସହାୟତା
Name[pa]=ਮਦਦ
Name[pl]=Pomoc
Name[ps]=مرسته
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[rw]=Ifashayobora
Name[si]=උදව්
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sr@latin]=Pomoć
Name[sv]=Hjälp
Name[ta]=உதவி
Name[te]=సహాయం
Name[tg]=Кӯмак
Name[th]=วิธีใช้
Name[tr]=Yardım
Name[ug]=ياردەم
Name[uk]=Довідка
Name[uz]=Yordam
Name[uz@cyrillic]=Ёрдам
Name[vi]=Trợ giúp
Name[wa]=Aidance
Name[xh]=Uncedo
Name[zh_CN]=帮助
Name[zh_HK]=求助
Name[zh_TW]=求助
Name[zu]=Usizo
Comment=_Comment=Browse and search GNOME and OpenSolaris documentation
Keywords=documentation;information;manual;
Keywords[an]=documentación;información;manual;
Keywords[ar]=توثيق;معلومات;كتيب;
Keywords[as]=তথ্যচিত্ৰ;তথ্য;হাতপুথি;
Keywords[be]=дакументацыя;інфармацыя;звесткі;падручнік;дапаможнік;інструкцыя;
Keywords[bg]=документация;информация;ръководство;documentation;information;manual;
Keywords[bn_IN]=নথিপত্র;তথ্য;ম্যানুয়াল;
Keywords[bs]=dokumentacja;informacija;priručnik;
Keywords[ca]=documentació;informació;manual;
Keywords[ca@valencia]=documentació;informació;manual;
Keywords[cs]=dokumentace;informace;příručka;manuál;návod;
Keywords[da]=dokumentation;information;manual;håndbog;
Keywords[de]=Dokumentation;Information;Handbuch;
Keywords[el]=τεκμηρίωση;πληροφορίες;εγχειρίδιο;documentation;information;manual;
Keywords[eo]=dokumentado;informo;manlibro;gvidilo;
Keywords[es]=documentación;información;manual;
Keywords[et]=dokumentatsioon;informatsioon;manuaal;käsiraamat;juhend;juhised;
Keywords[eu]=dokumentazioa;informazioa;eskuliburua;
Keywords[fa]=مستندات;اطلاعات;راهنما;
Keywords[fi]=documentation;information;manual;dokumentaatio;manuaali;ohje;
Keywords[fr]=documentation;information;manuel;
Keywords[fur]=documentazion;informazions;manuâi;jutori;
Keywords[gd]=documentation;information;manual;docamaideadh;fiosrachadh;stiùireadh;treòir;
Keywords[gl]=documentación;información;manual;
Keywords[gu]=દસ્તાવેજીકરણ;જાણકારી;પુસ્તિકા;
Keywords[he]=תיעוד;פרטים;מידע;מדריך;
Keywords[hi]=दस्तावेजीकरण;सूचना;मैनुअल;
Keywords[hu]=dokumentáció;információ;kézikönyv;
Keywords[id]=dokumentasi;informasi;manual;
Keywords[is]=Handbækur;Handbók;Hjálparskjöl;Skjölun;Upplýsingar;Leiðbeiningar;
Keywords[it]=documentazione;informazioni;manuali;aiuto;
Keywords[ja]=documentation;information;manual;ドキュメンテーション;ドキュメント;情報;マニュアル;help;ヘルプ;
Keywords[kk]=құжаттама;ақпарат;нұсқама;
Keywords[kn]=ದಸ್ತಾವೇಜೀಕರಣ;ಮಾಹಿತಿ;ಕೈಪಿಡಿ;
Keywords[ko]=documentation;문서;information;정보;manual;설명서;매뉴얼;
Keywords[lt]=dokumentacija;informacija;vadovas;žinynas;
Keywords[lv]=dokumentācija;informācija;rokasgrāmata;
Keywords[ml]=പ്രമാണശേഖരണം;വിവരം;ഉപയോഗസഹായി;
Keywords[mr]=दस्तऐवजीकरण;माहिती;पुस्तिका;
Keywords[nb]=dokumentasjon;informasjon;håndbok;
Keywords[nl]=documentatie;informatie;handleiding;hulp;help;docs;
Keywords[oc]=documentacion;informacion;manual;
Keywords[or]=ଦଲିଲିକରଣ;ସୂଚନା;ହସ୍ତକୃତ;
Keywords[pa]=ਦਸਤਾਵੇਜ਼;ਜਾਣਕਾਰੀ;ਕਿਤਾਬਚਾ;documentation;information;manual;
Keywords[pl]=dokumentacja;informacje;podręcznik;przewodnik;manual;instrukcja;
Keywords[pt]=documentação;informação;manual;
Keywords[pt_BR]=documentação;informação;informações;manual;
Keywords[ro]=documentation;intormation;manual;documentație;informație;
Keywords[ru]=документация;информация;руководство;
Keywords[sk]=dokumentácia;informácie;návod;
Keywords[sl]=dokumentacija;podrobnosti;informacije;priročnik;vodnik;
Keywords[sr]=документација;подаци;упутство;
Keywords[sr@latin]=dokumentacija;podaci;uputstvo;
Keywords[sv]=dokumentation;information;manual;handbok;
Keywords[ta]=documentation;information;manual;
Keywords[te]=పత్రకీకరణ;సమాచారం;మాన్యువల్;
Keywords[tg]=санад;иттилоот;дастур;
Keywords[th]=เอกสาร;สารสนเทศ;คู่มือ;
Keywords[tr]=belgelendirme;bilgi;kılavuz;
Keywords[ug]=documentation;information;manual;قوللانما;ئۇچۇر;پۈتۈك;
Keywords[uk]=документація;інформація;посібник;
Keywords[vi]=documentation;information;manual;tài;liệu;tai;lieu;thông;tin;hướng;dẫn;huong;dan;trợ;tro;giúp;giup;help;
Keywords[zh_CN]=documentation;information;manual;文档;信息;手册;
Keywords[zh_HK]=documentation;information;manual;文件;資訊;手冊;
Keywords[zh_TW]=documentation;information;manual;文件;資訊;手冊;
OnlyShowIn=GNOME;
Exec=yelp ghelp:user-guide
Icon=help-browser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Yelp
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.20.1
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
